@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 224 71% 4%;
    --header: 220 100% 5.5%;
    --header-foreground: 210 40% 98%;
    --card: 210 40% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 210 40% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 222.2 84% 4.9%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 205 79% 45%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 205 79% 51%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 15% 10%;
    --foreground: 210 40% 98%;
    --header: 220 15% 5%;
    --header-foreground: 210 40% 98%;
    --card: 220 15% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 220 15% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 205 90% 60%;
    --primary-foreground: 220 20% 10%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 180 80% 45%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 25%;
    --ring: 205 90% 55%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
